#about {
    display: block;
    padding-top: 3rem;
    padding-bottom: 25rem !important;
    background-color: #00003f;
    text-align: center;
}

.about_title {
    font-size: 50px;
    font-family: 'Tanker', sans-serif;
}

.about_container {
    display: inline-block;
    text-align: left;
}

.about_container p {
    color: #7378b9;
    font-weight: 800;
}

.about_container-all {
    justify-content: space-evenly;
    display: flex;
}

.about_profile {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
}

button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(115, 120, 185);
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
}

button:hover,
.custom-button:hover {
    cursor: pointer;
    background-color: #18006d;
    transform: translateY(-5px);
    transition: transform 0.3s ease-out;
}