#hero {
    display: flex;
    background-color: rgb(211, 211, 211);
    align-items: center;
    justify-content: center;
}

#hero_particles {
    width: 100rem;
}

.hero_container {
    text-align: center; 
}

.hero_super {
    position: absolute;
    display: flex;
    margin-top: -8rem;
    align-items: center;
}

.hero_title {
    font-size: 120px;
    color: #18006d;
    font-family: 'Tanker', sans-serif;
}

.hero_subtitle {
    color: #18006d !important;
    margin-top: -7rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.hero_description {
    font-weight: 800;
    color: #7378b9;
}

.social_icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the social icons horizontally */
    margin-top: 20px; /* Add margin at the top for spacing */
}

.custom-button {
    /* Remove the margin-right property to avoid unnecessary spacing between icons */
    position: relative;
    background-color: rgb(115, 120, 185);
    border: none;
    border-radius: 50%;
    height: 50px; /* Increase the height for better visibility and spacing */
    width: 50px; /* Increase the width for better visibility and spacing */
    margin: 0 10px; /* Add margin on both sides of the icon for spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px; /* Adjust the font size for better visibility */
    overflow: hidden;
    transition: color 0.3s;
}
