#skills {
    background-color: #dfdfdf;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: -2.6rem;
    padding-bottom: 30rem;
}

.skills_container {
    display: flex;
    justify-content: space-evenly;
}

.skills_title {
    font-size: 50px;
    font-family: 'Tanker', sans-serif;
}