#skills {
    background-color: #ffffff;
    text-align: center;
    margin-top: -2.6rem;
    padding-bottom: 10rem;
}

.skills_title {
    color: #18006d;
    font-size: 50px;
    font-family: 'Tanker', sans-serif;
    padding-top: 6rem;
}

.sub_skills {
    color: #18006d;
    font-family: 'Tanker', sans-serif;
    font-size: 30px;
}

.backend_container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.paragraph {
    color: #18006d;
    width: 50rem;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto;
}

.skills_img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid #18006d;
    margin: 0 10px;
}

.skills_img:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.frontend_container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}


.skils_container {
    margin-top: 5rem;
}