body {
    background-color: rgb(54, 49, 49);
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

li, h1, a, h2, p, button {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(115, 120, 185);
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    z-index: 1000; /* Ensures the header is on top of other elements */
}


.logo {
    margin-right: auto;
    margin-left: 8rem;
}

.logo h1 {
    color: #ffffff;
}

.logo h1:hover {
    color: #18006d;
    transition: color 1s ease-in-out;
}

.nav_menu {
    list-style: none;
    margin-right: 1rem;
}

.nav_menu li {
    display: inline-block;
    padding: 0 50px;
    font-size: 30px;
}

.nav_menu li a {
    transition: all 0.3s ease 0s;
    font-weight: bold;
    color: #ffffff;
}

.nav_menu li a:hover {
    color: #18006d;
    padding-bottom: 3px;
    border-bottom: 2px solid #18006d;
}

button:hover {
    background-color: rgb(62, 62, 255);
}

h2 {
    color: white;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(115, 120, 185);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(115, 120, 185); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #18006d;
  }


  .logo h1 {
    font-weight: 800;
  }